@import "variavles";

@mixin text($font-size, $line-height, $font-weight, $color: #111011) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin create-grid($template-columns, $gap) {
  display: grid;
  grid-template-columns: $template-columns;
  gap: $gap;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin about-text {
  font-size: 25px;
  font-weight: 500;
  color: $black-color;
}

@mixin input ($width, $padding) {
  font-size: $text-small;
  font-weight: 500;
  width: $width;
  border-radius: 12px;
  border: 1px solid $black-color;
  padding: $padding;
  &::placeholder {
    color: $grey;
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}

@mixin button ($width, $padding) {
  width: $width !important;
  font-size: $text-small !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  padding: $padding !important;
  background: $purple-color !important;
  border-radius: 10px !important;
  border: 1px solid $black-color !important;
}
