@mixin text($font-size, $line-height, $font-weight, $color: #111011) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin create-grid($template-columns, $gap) {
  display: grid;
  grid-template-columns: $template-columns;
  gap: $gap;
}