@import "./reset.scss";
@import "mixins";
@import "variavles";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #262626;
  font-family: "Inter", sans-serif;
}

input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: start;
}

.title {
  color: var(--09090A, #111011);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.sub_title {
  color: var(--09090A, #111011);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.info {
  color: var(--4E5662, #4e5662);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  a {
    color: $purple-color;
  }
}

@media (max-width: 480px) {
  .info {
    font-size: 14px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.swiper-slide {
  height: 100% !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: unset !important;
  border-radius: inherit !important;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 1000;
  background: $black-color;
  padding: 8px 10px;
  border-radius: 10px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}

.error {
  color: var(--FB5858, #fb5858);
}

// title-module стили для заголовков модулей

.title-module {
  color: $black-color;
  font-size: 30px;
  font-weight: 700;
}


// Стили для рейтинга (Звёзд)

.stars {
  padding: 10px 10px;
  border-radius: 40px;
  display: inline-block;
  border: 1px solid $black-color;
  color: #fff;
  display: flex;
  align-items: center;
  grid-gap: 7px;
}

.activeStar {
  svg {
    path {
      fill: #FFD338;
    }
  }
}

// Контейнер для позиционирования

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// Input

.input {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid $black-color;
}

@media (max-width: 1025px) {
  .title-module {
    font-size: 26px;
  }
  .header__logo {
    scale: 0.65;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
  .title-module {
    font-size: 31px;
  }
}