@import 'src/app/styles/variavles';

.body {
  max-width: 888px;
  min-width: 600px;
  margin: 0 auto;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  padding: $margin-xxxl;
  margin-top: $margin-xxxl !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: $black-color;
    font-size: 30px;
    font-weight: 700;
  }

  button {
    color: $purple-color;
    font-size: 15px;
    font-weight: 500;
  }
}

.wrapper {
  margin-top: $margin-xxxl;
}

@media (max-width: 480px) {
  .body {
    min-width: 0;
    padding: 32px 16px;
  }
  .header {
    h3 {
      font-size: 24px;
    }
  }
}