@import "src/app/styles/variavles";
@import "src/app/styles/mixins";

.contWrapper {
  position: relative;
}

.auth {
  max-width: 1045px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  grid-gap: 60px;
}

.politicInfo {
  color: $purple-color !important;
}

.socialWrapper {
  display: flex;
  align-items: stretch;
  grid-gap: $margin-xxxl;
  margin-bottom: $margin-xxxl;
}

.auth_header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.headerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    font-size: $text-large;
    font-weight: 500;
    color: $purple-color;
  }
}

.switch_link {
  color: var(--585DFB, #585dfb);
  cursor: pointer;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: $margin-xxxl;
  input {
    @include input(100%, 16px)
  }
  button {
    @include button(100%, 16px)
  }
}

.imgWrapper {
  max-width: 425px;
  width: 100%;
  background: url("src/shared/assets/images/auth.png") center no-repeat;
  border-radius: 5px;
}

@media (max-width: 1160px) {
  .wrapper {
    grid-gap: 35px;
  }
  .imgWrapper {
    max-width: 350px;
  }
  .socialWrapper {
    button {
      font-size: 15px;
    }
  }
}

@media (max-width: 1060px) {
  .inputWrapper {
    grid-gap: 25px;
  }
}

@media (max-width: 480px) {
  .auth {
    padding: 32px 16px;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
  .imgWrapper {
    height: 268px;
    max-width: 100%;
  }
  .titleModule {
    font-size: $text-large !important;
  }
  .headerTop {
    margin-bottom: 8px;
    .switch_link {
      display: none;
    }
  }
  .headerBottom {
    justify-content: flex-start;
    align-items: center;
    grid-gap: 8px;
    p {
      font-size: 16px;
    }
    button {
      margin: 0 !important;
      font-size: 16px;
    }
  }
  .socialWrapper {
    flex-direction: column;
    grid-gap: 8px;
    button {
      font-size: 14px;
    }
  }
  .form {
    grid-gap: 8px;
  }
}