@import 'src/app/styles/mixins';
.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}

.country {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 29px;
  border-radius: 40px;
  border: 1px solid rgba(9, 9, 10, 1);

  & + .name {
    @include text(18px, 22px,500)
  }
}