@import 'src/app/styles/mixins';

.profile {
  width: 480px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;

  &__avatar {
    width: 400px;
    height: 400px;
    background-size: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        @include text(30px, 36px, 700);
      }

      .views {
        @include text(14px, 16px, 700, rgba(78, 86, 98, 1));
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date {
        @include text(16px, 20px, 500, rgba(78, 86, 98, 1));
      }
    }
  }
}
