.input {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--09090A, #111011);
}

.border_error {
  border: 1px solid var(--FB5858, #fb5858);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 6px;
}