.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.say {
  //@include text-bold($header-h1, $color-black-99101)
  font-weight: 700;
  font-size: 20px;
}

.seeAll {
  cursor: pointer;
  //@include text-bold($text-large-user, $color-black-99101)
  font-weight: 700;
  font-size: 16px;
}

.mySwiper {
  max-height: 160px;
}

.custom {
  background-color: black;
}
