@import 'src/app/styles/mixins';

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 0 31px;

  &__title {
    @include text(20px, 24px, 700);
  }

  .payments {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 400px;
    flex-wrap: wrap;

    &__pay {
      @include flex-center();
      border-radius: 10px;
      height: 38px;
      background-color: black;
      padding: 10px 21px;
      flex-grow: 1;
    }
    &__showBtn {
      @include flex-center();
      @include text(16px, 20px, 500);
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      border: 2px solid rgba(9, 9, 10, 1);
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      height: 30px;
      &:hover {
        background-color: rgba(236, 236, 254, 1);
      }
    }
  }
}


