@import "src/app/styles/variavles";

.header {
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  grid-gap: 64px;
  position: relative;
}

.inputBody {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    border: 1px solid $black-color;
    padding: 20px 16px;
    border-radius: 12px;
    &::placeholder {
      opacity: 0.5;
      color: $black-color;
      font-size: $text-small;
    }
  }
  button {
    position: absolute;
    background: none;
    margin-right: 16px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  .authBtn {
    white-space: nowrap;
    background: $grey;
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid $black-color;
    color: #ffffff;
    font-weight: 500;
    font-size: $text-small;
  }
  .regBtn {
    background: $purple-color;
  }
}



.burgerBtn {
  display: none;
  width: 32px;
  height: 3px;
  background: $purple-color;
  border-radius: 3px;
  position: relative;
  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: $purple-color;
    height: 3px;
    border-radius: 3px;
  }
  &::before {
    top: -200%;
  }
  &::after {
    bottom: -200%;
  }
}

.burgerBtnClosed {
  position: absolute !important;
  top: 5%;
  left: 5%;
  z-index: 5;
  width: 32px;
  height: 3px;
  background: $purple-color;
  border-radius: 3px;
  transform: rotate(45deg);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    width: 100%;
    background: $purple-color;
    height: 3px;
    border-radius: 3px;
  }
}

.roleBtn {
  padding: 16px;
  color: $black-color;
  background: transparent;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  transition: .2s linear;
  &:hover {
  }
  &.active {
    color: #fff;
    background: $purple-color;
    &:hover {
      background: rgba(88, 93, 251, 0.85);
    }
  }
}

.selectLanguageWrapper {
  display: flex;
  align-items: center;
  grid-gap: 8px;

  button {
    text-transform: uppercase;
    font-size: $text-small;
    font-weight: 600;
    color: $black-color;
  }
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1025px) {
  .wrapper {
    grid-gap: 36px;
  }
  .buttonsWrapper {
    button {
      font-size: 14px;
      padding: 12px 18px;
    }
  }
  .inputBody {
    input {
      padding: 14px 18px;
    }
  }
}

@media (max-width: 875px) {
  .wrapper {
    grid-gap: 0;
    .buttonsWrapper {
      margin-left: 15px;
      grid-gap: 15px;
    }
  }
  .inputBody {
    input {
      &::placeholder {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 740px) {
  .wrapper {
    grid-gap: 10px;
  }
  .regBtn {
    display: none;
  }
}

@media (max-width: 576px) {
  .wrapper {
    justify-content: space-between;
  }
  .inputBody {
    display: none;
  }
  .burgerBtn {
    display: block;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px 0;
  }
  .buttonsWrapper {
    .authBtn {
      background: $purple-color;
      border: none;
      padding: 10px 12px;
    }
  }

}
